.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 10%;
    margin-left: 10%;
}
/*etiqueta foto de perfil*/
@media (min-width: 576px){
    #foto-de-perfil{
        position: fluid;
        width: 150px;
        border-radius: 45%;
        box-shadow: 5px 5px 5px grey;
        left: 150px;
        top: 37%;
    }
}
@media(max-width: 575px){
        #foto-de-perfil{
            position: fluid;
            width: 150px;
            border-radius: 55%;
            box-shadow: 3px 3px 3px grey;
        }
} 