<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-12">    
        <circle-progress
            [imageSrc]= "'../assets/html-5.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#3338c7'"
            [innerStrokeColor]="'#1498eb'"
            [animation]="true"
            [animationDuration]="1000"
            [showSubtitle]="false"
        ></circle-progress>

        <circle-progress
            [imageSrc]= "'../assets/css-3.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#3338c7'"
            [innerStrokeColor]="'#1498eb'"
            [animation]="true"
            [animationDuration]="1000"
            [showSubtitle]="false"
        ></circle-progress>

        <circle-progress
            [imageSrc]= "'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="40"
            [radius]="100"
            [showUnits]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#3338c7'"
            [innerStrokeColor]="'#1498eb'"
            [animation]="true"
            [animationDuration]="1000"
            [showSubtitle]="false"
        ></circle-progress>

        <circle-progress
            [imageSrc]= "'../assets/java.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#3338c7'"
            [innerStrokeColor]="'#1498eb'"
            [animation]="true"
            [animationDuration]="1000"
            [showSubtitle]="false"
        ></circle-progress>

        <circle-progress
        [imageSrc]= "'../assets/angular.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [percent]="75"
        [radius]="100"
        [showUnits]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#3338c7'"
        [innerStrokeColor]="'#1498eb'"
        [animation]="true"
        [animationDuration]="1000"
        [showSubtitle]="false"
    ></circle-progress>
    </div>
</div>