<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Operador NOC - Mercado Libre</h2>
                <h3>2020 Julio - Actualmente</h3>
                <p>Atención y soporte técnico a clientes corporativos.
                    Diagnóstico y solución de incidentes técnicos.
                    Coordinación de Mantenimientos en sitios de
                    clientes y nodos.
                    Monitoreo proactivo de servicios.
                    Detección y diagnóstico de incidencias masivas.
                    </p>
            </li>

            <li>
                <h2>Analista de soporte a usuarios - Nubihome</h2>
                <h3>2016 - 2020 Junio</h3>
                <p>Creó y ejecutó de scripting Bash sobre plataforma
                    Linux.
                    Manejó de Base de Datos (Oracle y MySQL).
                    Relación directa con el CTO y CEO de la compañía,
                    para llevar a cabo reportes y balances de los
                    clientes.
                    Incorporó conocimientos de la plataforma y del
                    negocio para poder brindar el mejor soporte y así
                    reducir los tiempos a la hora de resolver un
                    problema.
                    Participó activamente en el testing de la
                    plataforma y APPs para detectar fallos y bridar
                    mejoras.
                    Realizó el mantenimiento de los utilitarios
                    informáticos de la compañía, instalación de S.O. y
                    Software.
                    Realizó soporte de Nivel 1 y 2 tanto para los
                    clientes B2C como B2B (Fibercorp, Telefónica
                    Argentina, Banco Hipotecario, Zurich) tanto vía
                    telefónica como a través de CRM (JIRA).
                    Doy soporte a las necesidades de comerciales de
                    la compañía como por ejemplo: Facturación,
                    Control de Stock, Logística y Distribución.
                    </p>
            </li>
        </ul>
    </div>
</div>