<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoAp.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/jonatan-san-roman-593713146/"><img src="../../../assets/Linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/san11roman"><img src="../../../assets/logotipo-de-twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/jonysanroman/"><img src="../../../assets/Instagram.png" id="instagram"></a>
            <a href="https://github.com/sanromanjsr"><img src="../../../assets/Github.png" id="github"></a>
            <a href="https://www.facebook.com/Jona.SanRoman"><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>

