<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoAp.png" id="logoAp">
        </div>
        
        <div class="redes">
            <div>
                <a href="https://github.com/sanromanjsr" target="_blank"><img src="../../../assets/Github.png" alt=""></a>
                <a href="https://www.instagram.com/jonysanroman/" target="_blank"><img src="../../../assets/Instagram.png" alt=""></a>
                <a href="https://www.facebook.com/Jona.SanRoman" target="_blank"><img src="../../../assets/facebook.png" alt=""></a>
                <a href="https://www.linkedin.com/in/jonatan-san-roman-593713146/" target="_blank"><img src="../../../assets/Linkedin.png" alt=""></a>
                <button type="button" class="btn btn-outline-light" target="_blank">Ingreso</button>
            </div>
        </div>
    </div>